<div class="section action-bar">
  <div class="section-content">
    <app-crud-toolbar
      (onDeleteButtonClick)="onDeleteItemsRequest()"
    ></app-crud-toolbar>
  </div>
</div>
<div class="section filter-bar">
  <div class="section-content">
    <fieldset>
      <legend>Параметры фильтрации:</legend>
      <div class='fd-container'>
        <div class='fd-row'>
          <div class='fd-col fd-col--12 fd-col-md--6 fd-col-lg--4 fd-col-xl--3'>
            <app-entity-input [label]="'Сущность инпут'">
              <app-input-suggestion
                [suggestionListViewTableStateManager]="storyFilterManager"
              ></app-input-suggestion>
              <app-entity-master-input
                masterInputContent>
              </app-entity-master-input>
            </app-entity-input>
          </div>

          <div class='fd-col fd-col--12 fd-col-md--6 fd-col-lg--4 fd-col-xl--3'>
            <app-boolean-input [label]="'Булевый инпут'">
              <app-input-suggestion
                [suggestionListViewTableStateManager]="booleanFilterManager"
              ></app-input-suggestion>
            </app-boolean-input>
          </div>

          <div class='fd-col fd-col--12 fd-col-md--6 fd-col-lg--4 fd-col-xl--3'>
            <app-string-input [config]="stringInputConfig" [label]="'Строка инпут'">
              <app-input-suggestion
                [suggestionListViewTableStateManager]="stringFilterManager"
              ></app-input-suggestion>
              <app-string-master-input
                masterInputContent>
              </app-string-master-input>
            </app-string-input>
          </div>

          <div class='fd-col fd-col--12 fd-col-md--6 fd-col-lg--4 fd-col-xl--3'>
            <app-number-input [config]="numberInputConfig" [label]="'Номерной инпут'">
              <app-input-suggestion
                [suggestionListViewTableStateManager]="numberFilterManager"
              ></app-input-suggestion>
              <app-number-master-input
                masterInputContent>
              </app-number-master-input>
            </app-number-input>
          </div>

          <div class='fd-col fd-col--12 fd-col-md--6 fd-col-lg--4 fd-col-xl--3'>
            <app-enum-input [label]="'Энам инпут'">
              <app-input-suggestion
                [suggestionListViewTableStateManager]="enumFilterManager"
              ></app-input-suggestion>
            </app-enum-input>
          </div>
        </div>
      </div>
      <hr>
      <div class="section-content">
        <app-accept-reject-buttons></app-accept-reject-buttons>
      </div>
    </fieldset>
  </div>
</div>
<div class="section table-wrapper">
    <app-table
      [id]="'plan-list-data-grid'"
      [selectionConfig]="tableSelectionConfig"
      [sorting]="this.listViewTableAsyncState.tableSorting$ | async"
      [items]="this.listViewTableAsyncState.tableItemsList$ | async"
      [columns]="this.listViewTableAsyncState.tableColumns$ | async"
      [selectedEntities]="this.listViewTableAsyncState.tableSelectedList$ | async"
      [page]="this.listViewTableAsyncState.tablePage$ | async"
      [showLoadingIndicator]="this.listViewTableAsyncState.tableShowLoaderIndicator$ | async"
      (onPageNumberChangeRequest)="this.onPageNumberChangeRequest($event)"
      (onColumnSizeChangeRequest)="this.onColumnSizeChangeRequest($event)"
      (onSelectionChangeRequest)="this.onTableSelectionChangeRequest($event)"
      (onColumnPositionChangeRequest)="this.onColumnMoveChangeRequest($event)"
      (onSortChangeRequest)="this.onSortChangeRequest($event)"
      (onPageSizeChangeRequest)="this.onPageSizeChangeRequest($event)">
    </app-table>
</div>
