<div class="section action-bar">
  <div class="section-content">
    <app-crud-toolbar></app-crud-toolbar>
  </div>
</div>
<div class="section filter-bar">
  <div class="section-content">
    <app-filter-bar
      [filterConfigByAttributeKey]="listViewState?.listViewFilterState.listViewFilterConfigByAttributeKey$ | async"
      [filterValuesByAttributeKey]="listViewState?.listViewFilterState.listViewFilterValuesByAttributeKey$ | async"
    ></app-filter-bar>
  </div>
</div>
<div class="section table-wrapper">
    <app-table
      [id]="'plan-list-data-grid'"
      [selectionConfig]="selectionConfig"
      [sorting]="listViewState.listViewTableState?.listViewTableSorting$ | async"
      [domainType]="listViewState.listViewConfigState?.domainType"
      [page]="listViewState?.listViewTableState.listViewTablePage$ | async"
      [columns]="listViewState.listViewTableState.listViewTableColumns$ | async"
      [selectedEntities]="listViewState.listViewTableState.listViewTableSelected$ | async"
      [columnCellTemplate]="{'id': hello}"

      (onTableComponentInit)="this.onTableComponentInit($event)"
      (onPageNumberChangeRequest)="this.onPageNumberChangeRequest($event)"
      (onColumnSizeChangeRequest)="this.onColumnSizeChangeRequest($event)"
      (onSelectionChangeRequest)="this.onTableSelectionChangeRequest($event)"
      (onColumnPositionChangeRequest)="this.onColumnMoveChangeRequest($event)"
      (onSortChangeRequest)="this.onSortChangeRequest($event)"
      (onPageSizeChangeRequest)="this.onPageSizeChangeRequest($event)">
      <ng-template #hello let-row='row'>
        <button (click)="onHelloClick($event, row)">Hello</button>
      </ng-template>
    </app-table>
</div>
