<div class="fd-container">
  <div class="fd-row">
    <div class="fd-col fd-col--12 fd-col-md--6 fd-col-lg--3 fd-col-xl--3"
         *ngFor="let filterConfigKeyValue of filterConfigByAttributeKey | keyvalue; trackBy: trackByAttributeKey">
      <div class="docs-layout-grid-bg docs-layout-grid-bg--color-1">
        <ng-container [ngSwitch]="filterConfigKeyValue.value.componentType">
          <app-string-input *ngSwitchCase="'string'"
                            [config]="filterConfigKeyValue.value"
                            [value]="filterValuesByAttributeKey[filterConfigKeyValue.key]"
                            (onInputComponentValueChangeRequest)="onFilterValueChangeRequest.emit($event)"
          ></app-string-input>
          <app-number-input *ngSwitchCase="'number'"
                            [config]="filterConfigKeyValue.value"
                            (onInputComponentValueChangeRequest)="onFilterValueChangeRequest.emit($event)"
          ></app-number-input>
          <app-boolean-input *ngSwitchCase="'boolean'"
                             [config]="filterConfigKeyValue.value"
                             (onInputComponentValueChangeRequest)="onFilterValueChangeRequest.emit($event)"
          ></app-boolean-input>
          <app-date-time-input *ngSwitchCase="'date-time'"
                               [config]="filterConfigKeyValue.value"
                               (onInputComponentValueChangeRequest)="onFilterValueChangeRequest.emit($event)"
          ></app-date-time-input>
          <app-entity-input *ngSwitchCase="'entity'"
                            [config]="filterConfigKeyValue.value"
                            (onInputComponentValueChangeRequest)="onFilterValueChangeRequest.emit($event)"
          ></app-entity-input>
          <app-enum-input *ngSwitchCase="'enum'"
                          [config]="filterConfigKeyValue.value"
                          (onInputComponentValueChangeRequest)="onFilterValueChangeRequest.emit($event)"
          ></app-enum-input>
          <app-period-input *ngSwitchCase="'period'"
                            [config]="filterConfigKeyValue.value"
                            (onInputComponentValueChangeRequest)="onFilterValueChangeRequest.emit($event)"
          ></app-period-input>
        </ng-container>
      </div>
    </div>
  </div>
</div>
