<ng-container *ngFor="let keyValue of value | keyvalue">
  <div class="property-key-value">
    <div class="property-key" [title]="keyValue.key">
      {{getPropertyNameLocalisation(keyValue.key)}}:
    </div>
    <ng-container *ngIf="isArray(keyValue.value)">
      <app-array-property-view [value]="keyValue.value" [key]="keyValue.key" class="property-value"></app-array-property-view>
    </ng-container>
    <ng-container *ngIf="isObject(keyValue.value)">
      <app-object-property-view [value]="keyValue.value" [key]="keyValue.key" class="property-value"></app-object-property-view>
    </ng-container>
    <ng-container *ngIf="isNumber(keyValue.value)">
      <app-number-property-view [value]="keyValue.value" [key]="keyValue.key" class="property-value"></app-number-property-view>
    </ng-container>
    <ng-container *ngIf="isString(keyValue.value)">
      <app-string-property-view [value]="keyValue.value" [key]="keyValue.key" class="property-value"></app-string-property-view>
    </ng-container>
    <ng-container *ngIf="isBoolean(keyValue.value)">
      <app-boolean-property-view [value]="keyValue.value" [key]="keyValue.key" class="property-value"></app-boolean-property-view>
    </ng-container>
  </div>
</ng-container>
