<div class="header controls">
  <span>Объект</span>
  <div class="fd-popover">
    <div class="fd-popover__control">
      <button
        (click)="onUserContextMenuCall($event)"
        class="fd-button fd-button--transparent fd-button--compact">
        <i class="sap-icon--menu2"></i>
      </button>
    </div>
    <div class="fd-popover__body" [attr.aria-hidden]="!(showControlsContextMenu$ | async)">
      <nav aria-label="context menu" class="fd-menu fd-menu--compact">
        <ul class="fd-menu__list fd-menu__list--no-shadow">
          <li class="fd-menu__item">
            <a class="fd-menu__link">
              <span class="fd-menu__title">Удалить обьект</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</div>

<ng-container *ngFor="let keyValue of value | keyvalue">
  <div class="property-key-value">
    <div class="property-key" [title]="keyValue.key">
      {{getPropertyNameLocalisation(keyValue.key)}}:
    </div>
    <ng-container
      *ngIf="typeFinderService.isArray(typeFinderService.getObjectPropertyType(keyValue.key, typeGraph, type))">
      <app-array-property-view class="property-value"
                               [value]="keyValue.value"
                               [key]="keyValue.key"
                               [root]="root"
                               [owner]="value"
                               [path]="path + '.' + keyValue.key"
                               [typeFinderService]="typeFinderService"
                               [typeGraph]="typeGraph"
                               [objectStateType]="objectStateType"
                               [type]="typeFinderService.getObjectPropertyType(keyValue.key, typeGraph, type)"
                               [enumMembersLocalisation]="enumMembersLocalisation"
      ></app-array-property-view>
    </ng-container>
    <ng-container
      *ngIf="typeFinderService.isObject(typeFinderService.getObjectPropertyType(keyValue.key, typeGraph, type), typeGraph)">
      <app-object-property-view class="property-value"
                                [value]="keyValue.value"
                                [key]="keyValue.key"
                                [root]="root"
                                [owner]="value"
                                [path]="path + '.' + keyValue.key"
                                [typeFinderService]="typeFinderService"
                                [typeGraph]="typeGraph"
                                [objectStateType]="objectStateType"
                                [type]="typeFinderService.getObjectPropertyType(keyValue.key, typeGraph, type)"
                                [enumMembersLocalisation]="enumMembersLocalisation"
      ></app-object-property-view>
    </ng-container>
    <ng-container
      *ngIf="typeFinderService.isNumber(typeFinderService.getObjectPropertyType(keyValue.key, typeGraph, type))">
      <app-number-property-view class="property-value"
                                [value]="keyValue.value"
                                [key]="keyValue.key"
                                [root]="root"
                                [owner]="value"
                                [path]="path + '.' + keyValue.key"
                                [type]="typeFinderService.getObjectPropertyType(keyValue.key, typeGraph, type)"
      ></app-number-property-view>
    </ng-container>
    <ng-container
      *ngIf="typeFinderService.isString(typeFinderService.getObjectPropertyType(keyValue.key, typeGraph, type))">
      <app-string-property-view class="property-value"
                                [value]="keyValue.value"
                                [key]="keyValue.key"
                                [root]="root"
                                [owner]="value"
                                [path]="path + '.' + keyValue.key"
                                [type]="typeFinderService.getObjectPropertyType(keyValue.key, typeGraph, type)"
      ></app-string-property-view>
    </ng-container>
    <ng-container
      *ngIf="typeFinderService.isBoolean(typeFinderService.getObjectPropertyType(keyValue.key, typeGraph, type))">
      <app-boolean-property-view class="property-value"
                                 [value]="keyValue.value"
                                 [key]="keyValue.key"
                                 [root]="root"
                                 [owner]="value"
                                 [path]="path + '.' + keyValue.key"
                                 [type]="typeFinderService.getObjectPropertyType(keyValue.key, typeGraph, type)"
      ></app-boolean-property-view>
    </ng-container>
    <ng-container
      *ngIf="typeFinderService.isAny(typeFinderService.getObjectPropertyType(keyValue.key, typeGraph, type))">
      <app-any-property-view class="property-value"
                             [value]="keyValue.value"
                             [key]="keyValue.key"
                             [root]="root"
                             [owner]="value"
                             [path]="path + '.' + keyValue.key"
                             [type]="typeFinderService.getObjectPropertyType(keyValue.key, typeGraph, type)"
      ></app-any-property-view>
    </ng-container>
    <ng-container
      *ngIf="typeFinderService.isEnum(typeFinderService.getObjectPropertyType(keyValue.key, typeGraph, type))">
      <app-enum-property-view class="property-value"
                              [value]="keyValue.value"
                              [key]="keyValue.key"
                              [root]="root"
                              [owner]="value"
                              [path]="path + '.' + keyValue.key"
                              [typeFinderService]="typeFinderService"
                              [typeGraph]="typeGraph"
                              [type]="typeFinderService.getObjectPropertyType(keyValue.key, typeGraph, type)"
                              [enumMembersLocalisation]="enumMembersLocalisation"
      ></app-enum-property-view>
    </ng-container>
  </div>
</ng-container>
